/*-------------------------------general setting----------------------------------*/
#Brant {	
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-size: 70%;
	text-align: center;
	background-color: #1abc9c;
	font-family: "Microsoft Yahei", 'Hiragino Sans GB', 'Source Han Sans',  sans-serif;
}
.Brant-wrap {
	padding: 10%;
}
#Brant-center {
	float: right;
	width: 40%;
	color: #1abc9c;
	background-color: #ecf0f1;
	padding-bottom: 5000px;
	margin-bottom: -5000px;
	box-shadow: -2px 0 16px 2px #666;
}
#Brant-center p {
	color: #1abc9c;
}
#Brant-right {
	float: right;
	width: 40%;
	color: #ecf0f1;
	background-color: #1abc9c;
	padding-bottom: 5000px;
	margin-bottom: -5000px;	
	box-shadow: -2px 0 16px 2px #666;
}
#Brant-right p {
	color: #ecf0f1;
}
/*-----------------------------------pictures-------------------------------------*/
#Brant-logo img {
	width: 120px;
	height: 120px;
	border: 3px solid #1abc9c;
	border-radius: 50%;
}
#Brant-logo img:hover {
	border: 3px solid #e74c3c;
}
#Brant-social img {
	display: inline-block;
	height: 30px;
	padding-left: 20px;
	padding-right: 20px; 
}
#wanted::before {
	content: "";
	background: url(Brant/img/wanted.png) no-repeat;
	background-size: 18px;
	background-position: 0 center;
	padding-right: 25px;
}
#profile::before {
	content: "";
	background: url(Brant/img/profile.png) no-repeat;
	background-size: 18px;
	background-position: 0 center;
	padding-right: 25px;
}
#homepage::before {
	content: "";
	background: url(Brant/img/homepage.png) no-repeat;
	background-size: 18px;
	background-position: 0 center;
	padding-right: 25px;
}
#mail::before {
	content: "";
	background: url(Brant/img/mail.png) no-repeat;
	background-size: 18px;
	background-position: 0 center;
	padding-right: 25px;
}
/*------------------------------------links---------------------------------------*/
#Brant a:link, #Brant a:visited {
	color: #1abc9c;
	text-decoration: none;
}
#Brant a:hover {
	color: #e74c3c;
	border-bottom: #EAEAEA;
}
/*-----------------------------------details--------------------------------------*/
#Brant-social {
	margin-top: 80px;
	margin-bottom: 80px;
}
#Brant-info, #Brant-content {
	margin: auto;
	text-align: left;
}
#Brant-info {
	max-width: 200px;
}
#Brant-content {
	max-width: 500px;
	line-height: 1.7em;
}
#Brant-content h1 {
	margin-top: 50px;
}
#Brant-content #title {
	font-size: 300%;
}
#Brant-content #title-0 {
	text-align: center;
	font-size: 300%;
	margin-bottom: 50px;
}